// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


// Lighter shades
$primary-light: #FFECE2;
$secondary-light: #E0E2F8;
$tertiary-light: #F5F2EE;

// Primary colors
$primary: #F0C7B2;
$secondary: #D2D6FF;
$tertiary: #F4E1C7;

// Dark shades
$primary-dark: #C9A18C;
$secondary-dark: #9497C0;
$tertiary-dark: #B7A893;


$peach-gradient: linear-gradient(160deg, #FEF6F2 -10.5%, #F0C7B2 93.2%);
$baby-blue-gradient: linear-gradient(6deg, #F4F4FC 4.78%, #D2D6FF 105.17%);
$sand-gradient: linear-gradient(142deg, #F5F2EE 9.29%, #F4E1C7 95.16%);
