// Specific CSS for your home-page
html, body {
  margin-top: 0;
  margin-bottom: 0;
  height: 852px;
  width: 100vw;
}

.banner {
  position: relative;
  top: -100px;
  margin-bottom: -100px;
  height: 852px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  padding-top: 0;
}

.banner-text {
  position:absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  margin-top: 0;
  padding-top: 0;
}

.logo_image {
  margin-bottom: 80px;
  margin-top: 230px;
  width: 300px;
  height: auto;
}

#landing-page-slogan {
  text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
}

.landing-page-info-container {
  width: 323.65px;
  margin-bottom: 30px;
}

.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.landing-container h4 {
  margin-top: 30px;
  // margin-bottom: 40px;
}

.scroll-down-button {
  margin-top: 200px;
  font-size: 20px;
}

.journey-pic-width {
  width: 356px;
  border-radius: 30px;
  border: 1px black solid;
}

.banner-video {
  height: 852px;
  width: 100vw;
  margin-top: 0;
  padding-top: 0;
  object-fit: cover;
  margin-bottom: 40px;
}

.landing-page-card {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  // border: 3px solid #FF6900;
  padding-bottom: 10px;
  // margin-bottom: 30px;

  h2 {
    margin-top: 30px;
  }
}

.set-top-margin {
  margin-top: 20px;
}

.landing-page-card-side-by-side {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
}

.div-for-centering-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
}

.middle-margin-text{
  margin-bottom: 60px;
}

.journey_widgets {
  border-radius: 20px;
  width: 280px;
  height: auto;
}

.messaging-pic {
  border-radius: 20px;
  width: 280px;
  height: auto;
}

.landing-page-bottom-btn {
margin-top: 30px;
margin-bottom: 40px;
}
