// .upper-pp {
//   margin-left: 15px;
//   padding: 20px;
// }

.user-tabs {
  color: black;
}

// This is for when we create photos and need to display them in the html.
.lower-pp {

  img {
    width: 110px;
    height: 110px;
    object-fit: cover;
    // margin-bottom: 25px;
  }

  .col-4 {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border: solid;
    border-color: white;
    border-radius: 3px;
    box-shadow: 1px 2px 3px grey;
    margin-bottom: 25px;
  }

  .journey-links {
    text-decoration: none;
    font-size: large;
    text-align: center;
    font-weight: bold;
  }

  .card {
    height: 150px;
    width: 150px;
    display: flex;
    border: solid;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    border-color: white;
    border-radius: 3px;
    background-repeat: round;
    box-shadow: 1px 2px 3px grey;
    margin-bottom: 25px;
    justify-content: center;

    a {
      text-decoration: none;
    }
  }
}

.my-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  height: max-content;
}


// Styling profile page to match new style

.profile-info-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
  position: relative;
}

.profile-page-avatar img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.backg {
  background-color: #F6F6F5;
  width: 394px;
}

.avatar-row {
display: flex;
justify-content: space-between;
align-items: center;
padding-left: 30px;
padding-right: 30px;
}

.stats-next-to-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.user-name {
margin-top: 20px;
color: #FF6900;
font-weight: bold;
font-size: 35px;
}

.user-name h1 {
margin-bottom: 0;
}

.user-name-bio-and-message {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#user-bio-margins {
  margin-top: 15px;
  margin-bottom: 30px;
}

.username-container {
position: relative;
}

.edit-link-container {
position:absolute;
top: 10px;
left: 170px;
font-size: 20px;
}

.orange-top {
height: 100px;
width: 394px;
background-color: #FF6900;
margin-bottom: -80px;
}

.white-cover {
  background-color: #F6F6F5;
  border-radius: 100%;
  width: 394px;
  padding-top: 30px;
}
