// .upper-pp {
//   margin-left: 15px;
//   padding: 20px;
// }

.user-tabs {
  color: black;
}

// This is for when we create photos and need to display them in the html.
.lower-pp {

  img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    // margin-bottom: 25px;
  }

  .col-4 {
    display: flex;
    align-items: end;
    margin-bottom: 25px;
    width: 150px;
    height: 150px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
  }

  .journey-links {
    text-decoration: none;
    font-size: large;
    text-align: center;
    font-weight: bold;
  }

  .card {
    height: 150px;
    width: 150px;
    display: flex;
    border-radius: 10px;
    margin-bottom: 20px;
    justify-content: center;
    background-position: center;
    background-size: cover;

    a {
      text-decoration: none;
    }
  }
}

.message-btn {
  margin-bottom: 20px
}

.journey-card-name {
  color: #FF6900;
  font-weight: bold;
  margin: 0;
}

.journey-card-date {
  color: white;
  font-weight: bold;
  margin: 0;
}

.my-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  height: max-content;
}

.journey-name {
  padding-left: 10px;
  color: #F6F6F5;
}

// Styling profile page to match new style

.profile-info-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
  position: relative;
}

.profile-page-avatar img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.backg {
  background-color: #F6F6F5;
  width: 394px;
  height: 100vh;
}

.avatar-row {
display: flex;
justify-content: space-between;
align-items: center;
text-align: center;
padding-left: 30px;
padding-right: 30px;
}

.stats-next-to-avatar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.user-name {
margin-top: 20px;
color: #FF6900;
font-weight: bold;
font-size: 35px;
}

.user-name h1 {
margin-bottom: 0;
}

.user-name-bio-and-message {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#user-bio-margins {
  margin-top: 15px;
  margin-bottom: 20px;
}

.username-container {
position: relative;
}

.edit-link-container {
position:absolute;
top: 10px;
left: 170px;
font-size: 20px;
}

.orange-top {
height: 100px;
width: 394px;
background-color: #FF6900;
margin-bottom: -80px;
}

.white-cover {
  background-color: #F6F6F5;
  border-radius: 100%;
  width: 394px;
  padding-top: 30px;
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.profile-page-experience-card {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100px;
  width: auto;
}

.profile-page-experience-card img {
  display: block;
  width: 100px;
  height: 100px;
}
