.log-in-page {
  h2 {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    color: $custom-primary;
  }
}


.log-in-style {
  padding: 20px;
}

.sign-forgot {
  padding-left: 15px;
}
