.user-card {
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
  margin-bottom: 25px;
  padding: 20px 0px;
  margin-left: 14px;
  margin-right: 12px;
  a{
  text-decoration: none;
  }
  img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: $custom-primary 1px solid;
    margin-right: 25px;
    object-fit: cover;
  }
  p {
    font-size: 20px;
    color: grey;
    margin: 0;
  }
}

.users-box {
  padding: 10px;

}
