<div class="container">
  <div class="back-chevron">
    <%= link_to experiences_path do %>
      <i class="fa-solid fa-chevron-left"></i>
    <% end %>
  </div>
  <div class="messages-label">
    <h2>Your messages</h2>
  </div>
  <% @chatrooms.each do |chatroom| %>
    <% if  chatroom.user_1.username == current_user.username%>
      <% user = chatroom.user_2 %>
    <% else %>
      <% user = chatroom.user_1 %>
    <% end %>

    <%= link_to chatroom_path(chatroom), class: "link-to-chat" do %>
      <div class="each-chatroom">
        <%= cl_image_tag user.photo.key %>
        <p><strong><%= user.first_name %></strong></p>
      </div>
    <% end %>
    <hr>
  <% end %>
</div>
