
<div class="row m-1">
    <div class="col-12 my-3">
      <%= render 'shared/search' %>
    </div>
</div>

<div class="users-box">
  <% @users.each do |user| %>
    <div class="user-card">
    <%= link_to profile_page_path(user.username) do  %>
      <%= image_tag(user.photo) %>
      <% end %>
        <p> <%= user.username %> </p>
    </div>
  <% end %>
</div>
