<img src="https://moderncat.com/wp-content/uploads/2020/03/inset-1-9-940x640.jpg" alt="profile-pic" class="card" style="width: 18rem;">

<h1><%= @user.first_name %> <%= @user.last_name %></h1>

<h4>Followers: <%= current_user.followers %></h4>
<h4>Following: <%= current_user.following %></h4>
