<%= form_with url: url, method: :get, class: "d-flex height-property align-items-center justify-content-between" do %>
  <div class="d-flex align-items-center justify-content-center w-100 experiences-search-style">
    <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Search a city..."
      %>
    <% submit_tag image_tag('orange_search.svg').html_safe, name: "", class: "btn-primary-custom btn-search" %>
    <%= image_submit_tag("orange_search.svg", class: "btn-primary-custom btn-search" ) %>
  </div>
<% end %>
