<%= content_tag "div", id: "like#{experience.id}" do %>
  <div class="like" data-like-experience-target = "total">
      <%= experience.weighted_score %>
  </div>
  <%= link_to like_experience_path(experience), method: :patch, remote: true do %>
    <% if current_user.voted_for? experience %>
      <i class="fa-solid fa-heart vote-icons" style="color: #FF6900;"></i>
    <% else %>
      <i class="fa-solid fa-heart vote-icons" style="color: rgba(239, 239, 240, 0); -webkit-text-stroke: 2px #FF6900;"></i>
    <% end %>
  <% end %>
<% end %>
