.btn-primary-custom {
  background-color: #D56415;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  // border: 4px solid rgba(201,161,140,0.3);
  color: black;
  padding: 11px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btn-secondary-custom {
  background-color: rgba(224,226,248,0.7);
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border: 2px solid rgba(210,214,255,1);
  color: black;
  padding: 11px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

// This is the button class for the user page tabs for Experiences and Journeys
.nav-pills {
  --bs-nav-pills-border-radius: var(--bs-border-radius);
  --bs-nav-pills-link-active-color: black;
  --bs-nav-pills-link-active-bg: #9497c000;
  font-weight: bold;

  .active{
    text-decoration: underline;
  }
}

.vote-icons {
  font-size: 30px;
}

.confirm-button{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #F0C7B2;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border: 1px solid rgba(201,161,140,0.3);
  color: black;
  font-size: 16px;
}

.create-button {
  width: 300px;
  height: 54px;
  background-color: rgba(255,255,255,0.75);
  border-radius: 10px;
  margin-top: 58px;
}

.button-new-journey {
  display: flex;
  justify-content: center;
}

.btn-search {
  background-color: #F0C7B2;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px black solid;
  box-shadow: 1px 3px 10px #888888;
}
