.mapboxgl-popup-content {
  overflow: scroll;
}

.popup-experience-photo-center {
  width: 90px;
  height: 70px;
  border-radius: 10px;
  object-fit: cover;
  margin: auto;
}

.popup-title {
  font-weight: 700;
  margin: 0;
}

.popup-address {
  margin: 0;
}
