.navbar-lewagon {
  background: white;
  bottom: 0;
  position: fixed;
  width: 100%;
  position: fixed;
  height:70px;
  margin-bottom: 3px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.footer-navbar{
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  img {
    height: 40px;
  }
}
