<div class="text-center" style="width:100px;height:140px;">
  <div class="popup-experience-photo-center">
    <%= cl_image_tag(experience.photos.first.key, :class => "popup-experience-photo-center") %>
  </div>

  <div class="d-flex flex-column">
    <p class="popup-title"><%= experience.title %></p>
    <p class="popup-address"><%= experience.address %></p>
  </div>
</div>
